.header {
  font-family: "Saira Stencil One";
  width: 100%;
  height: 100%;
  font-size: 100px;
  color: whitesmoke;
  text-align: center;
  height: 5%;
}
.navbar {
  background-color: black;
  height: 6.5%;
}
.banner {
  font-size: 240%;
  color: whitesmoke;
}
.iconRe {
  color: whitesmoke;
  font-size: 240%;
  margin-bottom: 2.5%;
}

@media (max-width: 576px) {
  .navbar {
    width: 576px;
  }
}
