.header {
  font-family: "Saira Stencil One", cursive;
  width: 100%;
  height: 100%;
  font-size: 10ch;
  color: whitesmoke;
  text-align: center;
  height: 5%;
}

/* .layout {
  background-color: red;
  height: 166vh;
} */
